<div class="container container-signup">

  <h2 class="m-4 signup-title">Edit <%= resource_name.to_s.humanize %></h2>


  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="col">
      <span><%= devise_error_messages! %></span>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row mt-1">
    <div class="col"> <!-- EMAIL -->
      <div class="field">
        <span><%= f.label :email %></span><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    </div>
    <div class="col"> <!-- NICKNAME -->
      <div class="field mt-1">
        <span><%= f.label "Pseudo" %><br /></span>
        <%= f.text_field :nickname, autofocus: true, placeholder: "Votre pseudo", class: "form-control" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <div class="col-auto">
          <span><%= f.label "Image de profil" %><br /></span>
          <%= f.file_field :profile_picture, autofocus: true %>
          <div class="edit-profile-pic">
            <% if current_user.profile_picture.attachment != nil %>
              <%= image_tag current_user.profile_picture, class: "edit-profile-img" %>
            <% else %>
              <img src="/img/ninja.png" alt="avatar", class="edit-profile-img">
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col"> <!-- PASSWORD -->
      <div class="field">
        <span>New <%= f.label "Mot de passe" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        </span>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>
    <div class="col"> <!-- PASSWORD CONFIRMATION -->
      <div class="field">
        <span>New <%= f.label "Confirmation du mot de passe" %><br /></span>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row mt-5">
    <div class="col"> <!-- FIRST NAME -->
      <div class="field mt-1">
        <span><%= f.label "Prénom" %><br /></span>
        <%= f.text_field :first_name, autofocus: true, placeholder: "Votre prénom", class: "form-control" %>
      </div>
    </div>
    <div class="col"> <!-- LAST NAME -->
      <div class="field mt-1">
        <span><%= f.label "Nom" %><br /></span>
        <%= f.text_field :last_name, autofocus: true, placeholder: "Votre nom", class: "form-control" %>
      </div>
    </div>
    <div class="col"> <!-- GENDER -->
    </div>
  </div>

  <div class="row mt-1">
    <div class="col"> <!-- TOWN -->
      <div class="field mt-1">
        <span><%= f.label "Ville" %><br /></span>
        <%= f.text_field :town, autofocus: true, placeholder: "Votre ville", class: "form-control" %>
      </div>
    </div>
    <div class="col"> <!-- ADRESS -->
      <div class="field mt-1">
        <span><%= f.label :adress %><br /></span>
        <%= f.text_field :adress, autofocus: true, placeholder: "Votre adresse", class: "form-control" %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row mt-1">
    <div class="col"><!-- Birthdate -->
      <div class="field mt-1">
        <span><%= f.label "Date de naissance" %></span>
        <p><%= f.date_field :birthdate, autofocus: true %></p>
      </div>    
    </div>

    <div class="col"> <!-- GENDER -->
      <div class="field mt-1">
        <span><%= f.label "Genre" %><br /></span>
        <%= f.text_field :gender, autofocus: true, placeholder: "Masculin, féminin, autre", class: "form-control" %>
      </div>
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
      <div class="field mt-4">
        <div class="col">
          <span><%= f.label :description %><br /></span>
          <%= f.text_area :description, cols:78, rows:20, autofocus: true, placeholder: "Votre description", class: "form-control-lg" %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="actions mt-5 mb-2">
        <div class="field">
          <span><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br /></span>
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions mt-5 mb-2">
    <%= f.submit "Editer", class: "btn-signup-confirm" %>
  </div>
  <% end %>
</div>

<!-- <h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%= link_to "Back", :back %>
