<div class="parallax tournois">
  <div style="padding-top: 2%;">
  <center><div class = links_website>
    <a href="<%=index_path%>"><button class="btn btn-lg btn-landingpage">VISITER</button></a>
    <a href="<%=new_user_registration_path%>"><button class="btn btn-lg btn-landingpage">S'INSCRIRE</button></a>
    <a href="<%=user_session_path%>"><button class="btn btn-lg btn-landingpage">SE CONNECTER</button></a>
  </div></center>
    <div class="logo" style="padding-top: 12%;">
      <img style= "width: 800px" src="/img/logo.png">
    </div>
    <center><img src = "https://www.arrow.com/s-tech/wp-content/themes/stechblack/assets/images/icons/icon-scroll2.svg" class="image_arrow" style="padding-top: 5%;"></center>
  </div>
</div>

<div class="tableau">
    Rejoignez la communauté la plus addict au jeux de société !
</div>

<div class="parallax bureau">
    <div class="liste">  
      Un système de création de parties unique 
    </div>
</div>

<div class="tableau">
    Un site 100 % gratuit axé sur la passion du jeu et des cartes
</div>

<div class="parallax database">
  <div class="liste2">
    Des centaines de jeux disponibles et la possibilité d'en ajouter de nouveaux
  </div>
</div>


<div id="discover-us" class="between-landingpage text-center">
<br> <br>
      <div style="padding-top: 20px; class="text-center">
        <a href="<%=index_path%>"><button class="btn btn-lg btn-landingpage">VISITER</button></a>
        <a href="<%=new_user_registration_path%>"><button class="btn btn-lg btn-landingpage">S'INSCRIRE</button></a>
        <a href="<%=user_session_path%>"><button class="btn btn-lg btn-landingpage">SE CONNECTER</button></a>
      </div>
    </div>