
<div id="calendar_user">
  <h2 class="mt-2" id="month">
    <%= link_to "<", date: @date.prev_month %>
      <span class="text-white"><%= I18n.localize(@date, :format=> "%B %Y", :locale => 'fr') %></span>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <%@user_sessions.each do |session|%>
        <% if session.date == date %>
            <ul>
                <li><b><%= link_to session.game.title, gamesession_path(session), class: "name_calendar" %></b></li>
            </ul>
        <%break%>
        <% end %>
    <%end%>
  <% end %>
</div>
