
<div class="container container-chatroom">
  <div class="row">
    <h2 class="m-3 text-white">
      <strong>Session du
        <%=I18n.localize(@chatroom.session.date, :format=> "%A %e %B %Y", :locale => 'fr')%> chez
        <%= @chatroom.session.host.nickname %>
      </strong>
    </h2>
  </div>
  <div class="row m-3">
    <div class="col">
      <h3><%= @chatroom.session.game.title %></h3>
    </div>
  </div>
  <div class="row m-3 d-flex align-items-center">
    <div class="col-2">
      Participants :
    </div>
  <% @chatroom.users.each do |user| %>
  <div class="col-1 d-flex justify-content-start userinchatroom">
    <% if user.profile_picture.attachment != nil %>
      <%= image_tag user.profile_picture, id:"avatar", title:user.nickname %>
    <% else %>
      <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/885/429/ba9.gif" alt="avatar" id="avatar" title="coucou">
    <% end %>
  </div>
  <% end %>
  <div class="col">
  </div>
</div>

<div class="container" id="usersmessages">
  <div class="row" data-behavior='usersmessages' data-chatroom-id='<%= @chatroom.id %>'>
    <ul>
      <% @usersmessages.each do |usersmessage| %>
        <%= render usersmessage, user:@user %>
      <% end %>
    </ul>
  </div>
  <div class="row mb-2 d-flex justify-content-center align-items-center">
    <div class="col-1 d-flex justify-content-end">
      <% if current_user.profile_picture.attachment != nil %>
        <%= image_tag current_user.profile_picture, id:"avatar" %>
      <% else %>
        <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/885/429/ba9.gif" alt="avatar" id="avatar">
      <% end %>
    </div>
    <div class="col">
  <%= form_for [@chatroom, Usersmessage.new], remote: true do |f| %>
  <%= f.text_area :body, rows: 1, class: "form-control chatmessages", autofocus: true %>
    </div>
    <div class="col-2 d-flex justify-content-end">
  <%= f.submit "Envoyer", class: "btn-sidebar" %>
  <% end %>
    </div>
  </div>
</div>
