<div class="m-3 container container-admin">

<h2 class="m-4">Page admin</h2>

<p class="mt-4 mb-4">
Cette page est strictement réservée aux administrateurs.</p>
<p class="mt-4 mb-4">
Il est également recommandé de faire attention aux manipulations se déroulant sur cette page !</p>
<p class="mt-4 mb-4">
Voila la liste d'options disponibles afin de gérer le site.
</p>

<h3>Webmaster</h3>

<div class="container admin-table">
<div class="row">
  <div class="col">
    <p>Pseudo</p>
  </div>
  <div class="col">
    <p>Envoyer un mail</p>
  </div>
</div>
<%@users.webmaster.each do |user|%>
<div class="row row-admin-user m-1">
  <div class="col">
    <%=user.nickname%>
  </div>
  <div class="col">
    <a href = "emailuser/<%=user.id%>"><%= user.email %></a>
  </div>
</div>
<%end%>
</div>


<h3 class="mt-5"> Liste des administrateurs</h3>

<div class="container admin-table">
<div class="row">
  <div class="col">
    <p>Pseudo</p>
  </div>
  <div class="col">
    <p>Envoyer un mail</p>
  </div>
</div>
<%@users.admin.each do |user|%>
<div class="row row-admin-user m-1">
  <div class="col">
    <%=user.nickname%>
  </div>
  <div class="col">
    <a href = "emailuser/<%=user.id%>"><%= user.email %></a>
  </div>
</div>
<%end%>
</div>



<h3 class="mt-4"> Liste des users</h3>

<div class="container admin-table">
  <div class="row">
    <div class="col">
      <p>Pseudo</p>
    </div>
    <div class="col">
      <p>Envoyer un mail</p>
    </div>
    <div class="col">
      <p>Changer le statut</p>
    </div>
  </div>
  <%@users.peasant.each do |user|%>
  <div class="row row-admin-user m-1">
    <div class="col">
      <%=user.nickname%>
    </div>
    <div class="col">
      <a href = "emailuser/<%=user.id%>"><%= user.email %>
    </div>
    <div class="col">
      <%= link_to "Passer en utilisateur indésirable", superpost_path(usertounwanted: user.id), method: :post, class:"text-light"%>
    </div>
  </div>
  <%end%>
</div>



<h3 class="mt-4"> Liste des indésirables</h3>

<div class="container admin-table">
  <div class="row">
    <div class="col">
      <p>Pseudo</p>
    </div>
    <div class="col">
      <p>Envoyer un mail</p>
    </div>
    <div class="col">
      <p>Changer le statut</p>
    </div>
  </div>
  <%@users.unwanted.each do |user|%>
  <div class="row row-admin-user m-1">
    <div class="col">
      <%=user.nickname%>
    </div>
    <div class="col">
      <a href = "emailuser/<%=user.id%>"><%= user.email %></a>
    </div>
    <div class="col">
      <%= link_to "Passer en utilisateur indésirable", superpost_path(usertounwanted: user.id), method: :post, class:"text-light"%>
    </div>
  </div>
  <%end%>
</div>

</div>
