<h2>Page admin</h2>

<p class="text-right mt-4 mb-4">
Cette page est strictement réservée aux administrateurs.</p>
<p class="text-left mt-4 mb-4">
Il est également recommandé de faire attention aux manipulations se déroulant sur cette page !</p>
<p class="text-right mt-4 mb-4">
Voila la liste d'options disponibles afin de gérer le site.
</p>

<span> Webmaster</span>
<table class="table">
    <thead>
        <tr>
            <td>Pseudo</td>
            <td>Envoyer un email</td>
        </tr>
    </thead>
        <tbody>
        <%@users.webmaster.each do |user|%>
        <tr>
            <td><%=user.nickname%></td>
            <td class="badge badge-dark"><a href = "emailuser/<%=user.id%>"><%= user.email %></a></td>
        </tr>
        <%end%>
        </tbody>
</table>

<span> Liste des administrateurs</span>
<table class="table">
    <thead>
        <tr>
            <td>Pseudo</td>
            <td>Envoyer un email</td>
        </tr>
    </thead>
        <tbody>
        <%@users.admin.each do |user|%>
        <tr>
            <td><%=user.nickname%></td>
            <td class="badge badge-dark"><a href = "emailuser/<%=user.id%>"><%= user.email %></a></td>
        </tr>
        <%end%>
        </tbody>
</table>

<span> Liste des users</span>
<table class="table">
    <thead>
        <tr>
            <td>Pseudo</td>
            <td>Envoyer un email</td>
            <td>Statut</td>
        </tr>
    </thead>
        <tbody>
        <%@users.peasant.each do |user|%>
        <tr>
            <td><%=user.nickname%></td>
            <td class="badge badge-dark"><a href = "emailuser/<%=user.id%>"><%= user.email %></a></td>
            <td class="badge badge-dark"><%= link_to "Passer en utilisateur indésirable", superpost_path(usertounwanted: user.id), method: :post, class:"text-light"%></p></td>
    </tr>
        <%end%>
        </tbody>
</table>

<span> Liste des indésirables</span>
<table class="table">
    <thead>
        <tr>
            <td>Pseudo</td>
            <td>Envoyer un email</td>
            <td>Statut</td>
        </tr>
    </thead>
        <tbody>
        <%@users.unwanted.each do |user|%>
        <tr>
            <td><%=user.nickname%></td>
            <td class="badge badge-dark"><a href = "emailuser/<%=user.id%>"><%= user.email %></a></td>
            <td class="badge badge-dark"><%= link_to "Repasser en utilisateur normal", superpost_path(admintonormaluser: user.id), method: :post, class:"text-light"%></td>
        </tr>
        <%end%>
        </tbody>
</table>
