<% @notifications.each do |notif|%>
  <% if notif.action == "chatmessage" %>
    <p><%=link_to "#{notif.actor.nickname} a envoyé un message sur une chatroom", mark_as_read_path(id: notif.id, url: chatroom_path(notif.notifiable)), method: :post%> Lu : <%= notif.read_at %></p>
  <% elsif notif.action == "joinrequest" %>
    <p><%=link_to "#{notif.actor.nickname} a demandé a rejoindre votre session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%> Lu : <%= notif.read_at %></p>
  <% elsif notif.action == "leftgame" %>
    <p><%=link_to "#{notif.actor.nickname} a quitté votre session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%> Lu : <%= notif.read_at %></p>
  <% elsif notif.action == "requestaccepted" %>
    <p><%=link_to "#{notif.actor.nickname} a accepté votre participation a sa session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%> Lu : <%= notif.read_at %></p>
  <% elsif notif.action == "requestdenied" %>
    <p><%=link_to "#{notif.actor.nickname} a refusé votre participation a sa session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%> Lu : <%= notif.read_at %></p>
  <% elsif notif.action == "requestdenied" %>
    <p><%=link_to "#{notif.actor.nickname} a creé une session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%> Lu : <%= notif.read_at %></p>
  <% else %>
    <p>ERROR</p>
  <% end %>
  <br/>
<% end %>
