<h1>Liste de vos notifications</h1>
<br/>
<% @notifications.each do |notif|%>
  <% if notif.action == "chatmessage" %>
    <h2><%=link_to "#{notif.actor.nickname} a envoyé un message sur une chatroom", mark_as_read_path(id: notif.id, url: chatroom_path(notif.notifiable)), method: :post%>
  <% elsif notif.action == "joinrequest" %>
    <h2><%=link_to "#{notif.actor.nickname} a demandé a rejoindre votre session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%>
  <% elsif notif.action == "leftgame" %>
    <h2><%=link_to "#{notif.actor.nickname} a quitté votre session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%>
  <% elsif notif.action == "requestaccepted" %>
    <h2><%=link_to "#{notif.actor.nickname} a accepté votre participation a sa session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%>
  <% elsif notif.action == "requestdenied" %>
    <h2><%=link_to "#{notif.actor.nickname} a refusé votre participation a sa session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%>
  <% elsif notif.action == "gamecreated" %>
    <h2><%=link_to "#{notif.actor.nickname} a creé une session de #{notif.notifiable.game.title}", mark_as_read_path(id: notif.id, url: gamesession_path(notif.notifiable)), method: :post%>
  <% else %>
    <h2>ERROR</h2>
  <% end %>
  <% if notif.read_at != nil %>
  Lu : <%= notif.read_at %></h2>
  <% else %>
  Non lu </h2>
  <% end %>
  <br/>
<% end %>
