<h2>Recherche avancée</h2>
<%=form_tag search_sessions_path do%>
    <p><b>Recherche par ville</b></p> 
    <%= text_field_tag "city", value=""%>
    <p><b>Recherche par jeu</b></p> 
    <%= text_field_tag "game", value=""%>
    <p><%= submit_tag('Rechercher') %></p>
<%end%>


<<<<<<< HEAD
=======
<% if current_user != nil %>
<div class="row">
  <button class="btn-sidebar" onclick="location.href='/gamesession/new'">Créer une nouvelle session</button>
</div>
<% end %>
>>>>>>> master

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Host</th>
    <th>Date</th>
    <th>Game</th>
    <th>City</th>
    <th>PayerNB</th>
    <th>MaxPlayers</th>
    <th>Time</th>
    <th>PlayerSkill</th>
    <th>Status</th>
    <th>Show</th>
    <th>RequestStatus</th>
  </tr>
  <%@sessions.each do |session|%>
    <tr>
      <td><%= session.id %></td>
      <td><%= session.host.nickname %></td>
      <td><%= session.date %></td>
      <td><%= session.game.title %></td>
      <td><%= session.city %></td>
      <td><%= session.playernb %></td>
      <td><%= session.maxplayers %></td>
      <td><%= session.time %></td>
      <td><%= session.playerskill %></td>
      <td><%= session.status %></td>
      <td><%= link_to 'Show', gamesession_path(session) %></td>
      <% if user_signed_in? && session.players.include?(current_user)%>
        <% @request = Request.find_by(session_id: session.id, user_id: current_user.id) %>
        <td><%= @request.status %></td>
        <% if @request.accepted? %>
          <td><%=link_to "LeaveGame", leavegame_path(id: session.id)%></td>
        <% else %>
          <td><%=link_to "RemoveRequest", removerequest_path(id: session.id)%></td>
        <% end %>
      <% else %>
        <td>No Request</td>
        <td><%=link_to "JoinGame", joingame_path(id: session.id)%></td>
      <% end %>
    </tr>
  <%end%>
</table>
