<div class="container-fluid mt-4">
  <div class="row">
    <%=form_tag search_sessions_path do%>
    <div class="col d-flex justify-content-start align-items-center">
      <span class="search-text mr-1">Rechercher par ville :</span>
      <%= text_field_tag "city", value="", class:"mr-2" %>
      <span class="search-text mr-1">Rechercher par jeu :</span>
      <%= text_field_tag "game", value="", class:"mr-2" %>
      <%= submit_tag('Rechercher') %>
      <%end%>
    </div>

    <div class="col d-flex justify-content-end align-items-center">
      <% if current_user != nil %>
        <button class="btn-sidebar add-game" onclick="location.href='/gamesession/new'">Nouvelle session</button>
      <% end %>
    </div>
  </div>
</div>

<%= will_paginate @sessions %>

<%@sessions.each do |session|%>
  <div class="container game-sticker">
    <div class="row">
      <div class="col-lg-1 d-flex justify-content-center align-items-center">
        <% if session.game.game_picture.attachment != nil %>
        <%= image_tag session.game.game_picture, class: "session_img" %>
        <% else %>
        <img src="<%= session.game.image_url%>" class="session_img">
        <% end %>
      </div>
      <div class="col">

        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h3 class="sticker-title"><%= link_to session.game.title, gamesession_path(session) %></h3>
            <h3 class="sticker-title">À <%= session.city %>, le
              <%= I18n.localize(session.date, :format=> "%A %e %B %Y", :locale => 'fr') %>
            </h3>
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-start align-items-center">
            <p>Session de <b><%= session.host.nickname %></b></p>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <p>Statut : <b>
              <% if session.done? %>
                Terminé
              <% elsif session.available? %>
                Disponible
              <% elsif session.full? %>
                Pleine
              <% end %>
            </b></p>
          </div>
          <div class="col d-flex justify-content-end al ign-items-center">
            <p>Durée prévue : <%= session.time %>h</p>
          </div>
        </div>

        <div class="row mt-3 d-flex justify-content-end align-items-center">
          <div class="col d-flex justify-content-start align-items-center">
            <p>Joueurs actuel : <b><%= session.playernb %></b></p>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <p>Places restantes : <b><%= session.maxplayers - session.playernb %></b></p>
          </div>
          <div class="col d-flex justify-content-end">
            <p>Niveau recommandé : <b>
              <% if session.anylevel? %>
                Tout niveaux
              <% elsif session.noob? %>
                Debutants
              <% elsif session.veteran? %>
                Confirmé
              <% elsif session.expert? %>
                Expert
              <% end %>
            </b></p>
          </div>
        </div>

        <div class="row mt-3 d-flex justify-content-center align-items-center">
          <div class="row d-flex flex-nowrap">
            <% if session.players.include?(current_user)%>
              <% @request = Request.find_by(session_id: session.id, user_id: current_user.id) %>
              <% if @request.accepted? %>
                <div class="col d-flex justify-content-start align-items-center">
                  <p>Votre Statut : <b>Requete accepté</b></p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <p><%=link_to "Quitter la session", leavegame_path(id: session.id)%></p>
                </div>
              <% elsif @request.denied? %>
                <div class="col d-flex justify-content-start align-items-center">
                  <p>Votre Statut : <b>Requete refusé</b></p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <p><%=link_to "Retirer la requète", removerequest_path(id: session.id)%></p>
                </div>
              <% elsif @request.pending? %>
                <div class="col d-flex justify-content-start align-items-center">
                  <p>Votre Statut : <b>Requete en attente</b></p>
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                  <p><%=link_to "Retirer la requète", removerequest_path(id: session.id)%></p>
                </div>
              <% end %>
            <% else %>
              <div class="col d-flex justify-content-start align-items-center">
                <p>Votre Statut : <b>Sans requête</b></p>
              </div>
              <div class="col d-flex justify-content-center align-items-center">
                <p><%=link_to "Rejoindre la session", joingame_path(id: session.id)%></p>
              </div>
            <% end %>
            <div class="col d-flex justify-content-end align-items-center">
              <p>Numéro de session : <b><%= session.id %></b></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
<%end%>

<%= will_paginate @sessions %>
