<div class="container container-signup">

  <h2 class="m-4 signup-title">Créer une nouvelle session</h2>

  <%= form_tag("/gamesession", method: "post") do %>
    <div class="row mt-2">
      <div class="col">
        <span>Jeu :</span><br>
        <%= select_tag 'game', options_from_collection_for_select(Game.order(:title), 'id', 'title'), prompt: "Select a game", class: "form-control" %>
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-lg-6"> <!-- ADRESS -->
        <span>Adresse :</span><br>
        <%= text_field_tag 'adress', "", class: "form-control" %>
      </div>
      <div class="col"> <!-- CITY -->
        <span>Ville :</span><br>
        <%= text_field_tag 'city', "", class: "form-control" %>
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col"> <!-- DATE -->
        <span>Date :</span><br>
        <%= date_field_tag 'date', nil , min: Date.today %>
      </div>
      <div class="col"> <!-- DUREE -->
        <span>Durée (en heures) :</span><br>
        <td><%= number_field_tag 'time', nil, min: 1, max: 12, class: "form-control"%></td>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col"> <!-- PLAYERNB -->
        <span>Nombre de joueurs actuel :</span><br>
        <td><%= number_field_tag 'playernb', nil, min: 0%></td>
      </div>
      <div class="col"> <!-- MAXPLAYERS -->
        <span>Nombre de joueurs maximum :</span><br>
        <td><%= number_field_tag 'maxplayers', nil, min: 2%></td>
      </div>
      <div class="col">
        <span>Niveau recommandé :</span><br>
        <td><%= select_tag 'playerskill', options_from_collection_for_select(Session.playerskills, 'last', 'first') %></td>
      </div>
      <div class="col">
      </div>
    </div>

    <div class="row mt-2">
      <div class="col"> <!-- DESCRIPTION -->
        <span>Description :<br></span>
        <td><%= text_area_tag 'description', "", size: "108x3" %></td>
      </div>
    </div>


    <div class="actions mt-5 mb-2">
      <%= submit_tag('Créer', :class=>"btn-signup-confirm") %>
    </div>

    <div class="row mt-5">
    </div>

    <% end %>
</div>
