
    <div class="clearfix d-flex flex-row flex-wrap container-fav mt-4">
    <% if @favoris.length == 0 || @favoris == nil %>
            <h3>Votre liste de jeux favoris est vide.</h3><br>
            <h3>Vous pouvez retourner sur la <a href="/games">page des jeux</a> pour en ajouter.</h3>
        <% else %>
        <div class="row">
          <h2>Voici tes jeux favoris :</h2>
        </div>
                <% @games.each do |game| %>
                <div class="container game-sticker">
                  <div class="row">
                  <div class="col-lg-1 d-flex justify-content-center align-items-center">
                      <% if game.game_picture.attachment != nil %>
                        <%= image_tag game.game_picture, class: "session_img" %>
                      <% else %>
                      <img src="<%= game.image_url%>" class="session_img">
                      <% end %>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col d-flex justify-content-start align-items-center">
                          <a class="game-sticker-title animated infinite pulse" href = "<%=game_path(game.id)%>"><%= game.title %></a>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col d-flex justify-content-start align-items-center">
                          <p><%= Category.find(game.category_id).category_name %></p>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center">
                          <p><% if game.min_players == game.max_players %>
                            Jusqu'à <%= game.min_players %> joueurs
                            <% else %>
                            De <%= game.min_players %> à <%= game.max_players %> joueurs
                            <% end %></p>
                          </div>
                          <div class="col d-flex justify-content-end align-items-center">
                            <p><%= game.time %></p>
                          </div>
                        </div>
                        <div class="row mt-3 d-flex justify-content-end align-items-center">
                          <div class="col">
                          </div>
                          <div class="col">
                          </div>
                          <div class="col d-flex justify-content-end align-items-center">
                            <%if game.gamecoms.first.nil?%>
                            <p>Il n'y a pas encore de note pour ce jeu</p>
                            <%else%>
                            <%sum_array = [] %>
                            <%game.gamecoms.each do |current_comment|%>
                            <%sum_array << current_comment.score%>
                            <%end%>
                            <%average_score = sum_array.inject(0.0) { |sum, el| sum + el } / sum_array.size%>
                            <p>Note des utilisateurs : <b><%=average_score%>/10</b></p>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% end %>
                  <br>
                  <div class="row">
                    <h2>Voici tes joueurs favoris :</h2>
                  </div>
        <% end %>
    <% if @users_favorites.length == 0 || @users_favorites == nil %>
      <h3>Vous n'avez pas encore d'utilisateurs favoris !</h3><br>
      <% else %>
        <% @params_favorites.each do |favorite| %>
          <div class="row container-profile">
            <h2><a href="player/<%= favorite['di'] %>">
              <%= favorite["nickname"] %></a></h2>
            Lui envoyer un message ?
              <%= link_to ("<i class='fa fa-comments fa-2x fa-fw' aria-hidden='true'></i>").html_safe, conversation_user_path(conversation_id: favorite["conversation"], user_id: current_user.id), remote: true %>
            <br>
          <% end %>
          </div>
      <% end %>
    <div class="col-lg-9" id="conversation-messages-user-to-user">

    </div>
  </div>
