
<div class="container game-sticker">
  <div class="row">
    <div class="col m-5">
      <h2 class="text-white">Bienvenue sur Table Finder !</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-white">Vous pouvez naviguer sur le site à l'aide du menu sur votre gauche.</p>
    </div>
  </div>
</div>

<br>

<div class="container game-sticker">
  <div class="row">
    <div class="col m-5">
      <h2 class="text-white">Voila la liste des jeux les plus appréciés par les utilisateurs du site !</h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2 red-background">
            <p class="text-white"><b>Classement</b></p>
        </div>
        <div class="col-4 red-background">
          <p class="text-white"><b>Jeu</b></p>
        </div>
        <div class="col-3 red-background">
          <p class="text-white"><b>Nombre de favs</b></p>
        </div>
        <div class="col-3 red-background">
          <p class="text-white"><b>Image</b></p>
        </div>
      </div>      
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%if @faved_games == []%>
        <p class="text-white">Il n'y a pas encore de jeux dans les favoris</p>
      <%else%>
        <%c=1%>
        <%@faved_games.each do |faved_game|%>
          <div class="row d-flex align-items-center">
            <div class="col-2">
              <p class="text-white">n°<%=c%></p>
            </div>
            <div class="col-4">
              <p class="text-white">Le jeu <b><%=Game.find(faved_game["game_id"]).title%></b></p>
            </div>
            <div class="col-3">
              <p class="text-white">Ajouté aux favoris <b><%=faved_game["favs"]%></b> fois</p>
            </div>
            <div class="col-3 d-flex justify-content-center">
              <% if Game.find(faved_game["game_id"]).game_picture.attachment != nil %>
                <%= image_tag Game.find(faved_game["game_id"]).game_picture, class: "games_image_home" %>
              <% else %>
                <img src="<%= Game.find(faved_game["game_id"]).image_url%>" class="games_image_home">
              <% end %>
            </div>
          </div>
          <%c+=1%>
          <br>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

<br>

<div class="container game-sticker">
  <div class="row">
    <div class="col m-5">
      <h2 class="text-white">Voila la ville ou le plus de sessions ont été jouées !</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%if @best_city == {}%>
        <p class="text-white">Il n'y a pas encore de sessions crées dans les villes</p>
      <%else%>
        <div class="row d-flex align-items-center">
          <div class="col">
            <p class="text-white"><b><%=@best_city["city_name"]%></b> est la ville où il y a le plus de sessions avec <b><%=@best_city["number_of_sessions"]%></b> sessions crées, on vous aime </p>
          </div>
          <div class="col">
            <div id="map" class="col d-flex justify-content-end border border-dark">
              <script>
                // Initialize and add the map
                function initMap() {
                  var loc = {lat: <%= @city_coordinates[0] %>, lng: <%= @city_coordinates[1] %>};
                  var map = new google.maps.Map(
                  document.getElementById('map'), {zoom: 12.7, center: loc});
                }
              </script>
              <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIkuKEbXIU73y_GbPuVvln3h-V7f8k2R8&callback=initMap">
              </script>
            </div>
          </div>
        </div>
      <%end%>  
    </div>
  </div>
</div>

<br>

<div class="container game-sticker">
  <div class="row">
    <div class="col m-5">
      <h2 class="text-white">Voila la liste des jeux les plus joués !</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-2 red-background">
            <p class="text-white"><b>Classement</b></p>
        </div>
        <div class="col-4 red-background">
          <p class="text-white"><b>Jeu</b></p>
        </div>
        <div class="col-3 red-background">
          <p class="text-white"><b>Nombre de sessions</b></p>
        </div>
        <div class="col-3 red-background">
          <p class="text-white"><b>Image</b></p>
        </div>
      </div>      
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col">
      <%if @most_played_games == []%>
        <p class="text-white">Il n'y a pas encore de sessions terminées</p>
      <%else%>
        <%c=1%>
        <%@most_played_games.each do |most_played_game|%>
          <div class="row">
            <div class="col-2">
              <p class="text-white">n°<%=c%></p>
            </div>
            <div class="col-4">
              <p class="text-white">Le jeu <b><%=Game.find(most_played_game["game_id"]).title%></b></p>
            </div>
            <div class="col-3">
              <p class="text-white">Qui a été joué <b><%=most_played_game["number_of_played_session"]%></b> fois, quel succès</p>
            </div>
            <div class="col-3 d-flex justify-content-center">
              <% if Game.find(most_played_game["game_id"]).game_picture.attachment != nil %>
                <%= image_tag Game.find(most_played_game["game_id"]).game_picture, class: "games_image_home" %>
              <% else %>
                <img src="<%= Game.find(most_played_game["game_id"]).image_url%>" class="games_image_home">
              <% end %>
            </div>
          </div>
          <%c+=1%>
          <br>
        <%end%>
      <%end%>
    </div>
  </div>
</div>

