<h2 class="m-2 signup-title">LES SESSIONS DONT JE SUIS HÔTE</h2>

<%if @myhostsessions == [] %>
  <p class="text-white">Vous n'avez aucune sessions en cours</p>
<%else%>
<%@myhostsessions.each do |session|%>
  <div class="container game-sticker">
    <div class="row">
      <div class="col-lg-1 d-flex justify-content-center align-items-center"> <!-- IMG COL -->
        <% if session.game.game_picture.attachment != nil %>
        <%= image_tag session.game.game_picture, class: "session_img" %>
        <% else %>
        <img src="<%= session.game.image_url%>" class="session_img">
        <% end %>
      </div>
      <div class="col">

        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h3 class="sticker-title"><%= link_to session.game.title, gamesession_path(session) %></h3>
          <h3 class="sticker-title">À
            <%= session.city %>, le <%= I18n.localize(session.date, :format=> "%A %e %B %Y", :locale => 'fr') %>
          </h3>
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-start align-items-center">
            <p>Session de <a href="player/<%= session.host.id %>"><b><%= session.host.nickname %></b></a></p>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p>Durée prévue : <%= session.time %>h</p>
          </div>
        </div>

        <div class="row mt-3 d-flex justify-content-end align-items-center">
          <div class="col d-flex justify-content-start align-items-center">
            <p>Joueurs actuel : <b><%= session.playernb %></b></p>
          </div>
          <div class="col d-flex justify-content-start align-items-center">
            <p>Places restantes : <b><%= session.maxplayers - session.playernb %></b></p>
          </div>
          <div class="col d-flex justify-content-start align-items-center">
            <p>Statut : <b><%= session.status %></b> </p>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p>Niveau recommandé : <b><%= session.playerskill %></b></p>
          </div>
        </div>

        <div class="row mt-3 d-flex justify-content-end align-items-center">
          <% if user_signed_in? && session.players.include?(current_user)%>
            <% @request = Request.find_by(session_id: session.id, user_id: current_user.id) %>
            <div class="col d-flex justify-content-start align-items-center">
              <p>Votre Statut : <b><%= @request.status %></b></p>
            </div>
            <% if @request.accepted? %>
              <div class="col d-flex justify-content-start align-items-center">
                <p><%=link_to "LeaveGame", leavegame_path(id: session.id)%></p>
              </div>
            <% else %>
              <div class="col d-flex justify-content-start align-items-center">
                <p><%=link_to "RemoveRequest", removerequest_path(id: session.id)%></p>
              </div>
            <% end %>
          <% else %>
            <div class="col d-flex justify-content-start align-items-center">
              <p>Votre Statut : <b>Sans requêtes</b></p>
            </div>
            <div class="col d-flex justify-content-start align-items-center">
              <p><%=link_to "JoinGame", joingame_path(id: session.id)%></p>
            </div>
          <% end %>
          <div class="col-lg-3">
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p>Numéro de session : <b><%= session.id %></b></p>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
<% end %>

<h2 class="m-2 signup-title">LES SESSIONS OU JE SUIS JOUEUR</h2>

<%if @myplayersessions == [] %>
  <p class="text-white">Vous n'avez pas encore rejoint de sessions</p>
<%else%>
<%@myplayersessions.each do |session|%>
  <div class="container game-sticker">
    <div class="row">
      <div class="col-lg-1 d-flex justify-content-center align-items-center"> <!-- IMG COL -->
        <% if session.game.game_picture.attachment != nil %>
        <%= image_tag session.game.game_picture, class: "session_img" %>
        <% else %>
        <img src="<%= session.game.image_url%>" class="session_img">
        <% end %>
      </div>
      <div class="col">

        <div class="row">
          <div class="col d-flex justify-content-between align-items-center">
            <h3 class="sticker-title"><%= link_to session.game.title, gamesession_path(session) %></h3>
          <h3 class="sticker-title">À
            <%= session.city %>, le
            <%= I18n.localize(session.date, :format=> "%A %e %B %Y", :locale => 'fr') %>
          </h3>
          </div>
        </div>

        <div class="row">
          <div class="col d-flex justify-content-start align-items-center">
            <p>Session de <a href="player/<%= session.host.id %>"><b><%= session.host.nickname %></b></p>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p>Durée prévue : <%= session.time %>h</p>
          </div>
        </div>

        <div class="row mt-3 d-flex justify-content-end align-items-center">
          <div class="col d-flex justify-content-start align-items-center">
            <p>Joueurs actuel : <b><%= session.playernb %></b></p>
          </div>
          <div class="col d-flex justify-content-start align-items-center">
            <p>Places restantes : <b><%= session.maxplayers - session.playernb %></b></p>
          </div>
          <div class="col d-flex justify-content-start align-items-center">
            <p>Statut : <b><%= session.status %></b> </p>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p>Niveau recommandé : <b><%= session.playerskill %></b></p>
          </div>
        </div>

        <div class="row mt-3 d-flex justify-content-end align-items-center">
          <% if user_signed_in? && session.players.include?(current_user)%>
            <% @request = Request.find_by(session_id: session.id, user_id: current_user.id) %>
            <div class="col d-flex justify-content-start align-items-center">
              <p>Votre Statut : <b><%= @request.status %></b></p>
            </div>
            <% if @request.accepted? %>
              <div class="col d-flex justify-content-start align-items-center">
                <p><%=link_to "LeaveGame", leavegame_path(id: session.id)%></p>
              </div>
            <% else %>
              <div class="col d-flex justify-content-start align-items-center">
                <p><%=link_to "RemoveRequest", removerequest_path(id: session.id)%></p>
              </div>
            <% end %>
          <% else %>
            <div class="col d-flex justify-content-start align-items-center">
              <p>Votre Statut : <b>Sans requêtes</b></p>
            </div>
            <div class="col d-flex justify-content-start align-items-center">
              <p><%=link_to "JoinGame", joingame_path(id: session.id)%></p>
            </div>
          <% end %>
          <div class="col-lg-3">
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p>Numéro de session : <b><%= session.id %></b></p>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
<% end %>
