<div class="container-profile player-profile">

    <div class="row">
        <div class="col-lg-6 centered">
        <div class="row">
<div class="col-lg-1"></div>
        <div class="col-lg-1">
        <h2 class="m-3">
            <%= @player.nickname.capitalize %>
        </h2>
        </div>
        </div>
        <div class="row">
<div class="col-lg-1"></div>
        <div class ="col-lg-3 mt-3">
        <div class="row ml-2">
        <% if current_user != nil && current_user.id != @player.id %>
        <%= link_to ("<i class='fa fa-comments fa-fw fa-3x' aria-hidden='true'></i>").html_safe, conversation_user_path(conversation_id: @conversation_id, user_id: @user.id), remote: true %>
        <%= render "home/favorites_users/favorites" %>
        <% end %>
        </div>
        </div>
</div>
</div>
        <div class="col-lg-3 mt-3">
                        <% if @player.profile_picture.attachment != nil %>
        <%= image_tag @player.profile_picture, class:"player-page" %>
                        <% else %>
        <img src="https://uploads1.yugioh.com/card_images/4945/detail/Hero-Dice.jpg?1398377913" alt="avatar" class="player-page">
                        <% end %>
        </div>
    <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col">
            <h2>Description</h2>
            <span>
                <% if @player.description.length >0 %>
                <%= @player.description %>
                <% else %>
                Ce joueur n'a pas encore de description !
                <% end %>
            </span>
        </div>
        <div class="col">
            <h2>Stats</h2>
                <div class="row">
                    <span>
                        <% if @player.sessions.count == 0 %>
                            <%= @player.nickname %> n'a pas encore joué de parties !
                        <% elsif @player.sessions.count == 1 %>
                            1 partie à son actif !
                        <% else %>
                            <%= @player.sessions.count %> parties déjà jouées !
                        <% end %>
                    </span>
                </div>
                <div class="row">
                    <br>
                </div>
                <div class="row">
                    <span>
                        <% if @likes.length < 1 %>
                            Ce joueur n'a pas encore été liké pour ses parties jouées
                        <% else %>
                            Ce joueur a été liké
                            <%=@likes.length%> fois pour ses parties jouées !
                        <% end %>
                    </span>
                </div>
                <div class="row"><br></div>
                <div class="row">
                    <span>
                        <% if @common_sessions == nil %>
                            Vous n'avez aucune partie en commun !
                        <% elsif @common_sessions.count == 1 %>
                            Vous avez joué <%= @common_sessions.count %> partie ensemble !
                        <% elsif %>
                            Vous avez joué <%= @common_sessions.count %> parties ensemble !
                        <% end %>
                    </span>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Ses jeux favoris</h2>
            <br>
            <% if @favorites_games.length < 1 || @favorites_games == nil %>
                    Pas de jeu ajouté aux favoris !
                <% else %>
                    <% @favorites_games.each do |favoris| %>
                    <div class="row ml-3">
                        <span>
                        <a href="/games/<%= favoris.game.id %>"><%= favoris.game.title %></a>
                        </span>
                    </div>
                    <div class="row"><br></div>
                    <% end %>
                <% end %>
        </div>
    </div>
    <div class="col-lg-9" id="conversation-messages-user-to-user">

    </div>
</div>
