<<<<<<< HEAD

<div class="container">
<%= @games.each do |game| %>
=======
<h1><b><a href = "/games/new">Créer un nouveau jeu dans la banque de donnée</a></b></h1>
<% @games.each do |game| %>
>>>>>>> master
    <div class = "row">
        <div class = "col-lg-3">
            <img src = "<%= game.image_url%>" class = "games_image">
        </div>
        <div class = "col-lg-9">
            <div class = "row">
                <h4><b><a href = "<%=game_path(game.id)%>"><%= game.title %></a></b></h4>
            </div>
            <ul>
            <div class = "row">
                <div class = "col">
                    <%if game.min_players == game.max_players%>
                        <li><b>Jusqu'à <%=game.min_players%> joueurs</b></li>
                    <%else%>
                        <li><b>De <%=game.min_players%> à <%=game.max_players%> joueurs</b></li>
                    <%end%>
                </div>
                <div class = "col">
                    <li><b>Durée de jeu : <%=game.time%></b></li>
                </div>
                <div class = "col">
                    <li><b>Categorie  : <%= game.category%></b></li>
                </div>
            </div>
            </ul>

        </div>

    </div>
<% end %>

<<<<<<< HEAD
<p>Il n'y a pas encore de jeu enregistré ! La base de données est en cours de construction </p>
<i class="fas fa-dice fa-3x"></i><br>
<i class="fa fa-gamepad fa-3x" aria-hidden="true"></i>
</div>
=======
>>>>>>> master
