<%# Barre de recherche %>
<%=form_tag search_games_path do%>
    <input class = "search full-width" id = "searchbar" name = "query" placeholder = "Rechercher un jeu" type ="text", autocomplete = "off">
    <td><%= select_tag 'Catégorie', options_from_collection_for_select(Category.order(:id), 'id', 'category_name'), prompt: "Select a category" %></td>
   
<%end%>

<div class="container">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-end">
      <a class="add-game" href = "/games/new">Ajouter un jeu</a>
    </div>
  </div>
</div>

  <% @games.each do |game| %>
    <div class="container">
      <div class = "row row-game-sticker">
          <div class="col-lg-3 col-game-pic">
              <% if game.game_picture.attachment != nil %>
                <%= image_tag game.game_picture, class: "games_image" %>
              <% else %>
                  <img src="<%= game.image_url%>" class="games_image">
              <% end %>
          </div>
          <div class = "col-lg-9">
              <div class = "row">
                  <h4><b><a href = "<%=game_path(game.id)%>"><%= game.title %></a></b></h4>
              </div>
              <ul>
              <div class = "row">
                  <div class = "col">
                      <%if game.min_players == game.max_players%>
                          <li><b>Jusqu'à <%=game.min_players%> joueurs</b></li>
                      <%else%>
                          <li><b>De <%=game.min_players%> à <%=game.max_players%> joueurs</b></li>
                      <%end%>
                  </div>
                  <div class = "col">
                      <li><b>Durée de jeu : <%=game.time%></b></li>
                  </div>
                  <div class = "col">
                      <li><b>Categorie  : <%= Category.find(game.category_id).category_name%></b></li>
                  </div>
              </div>
              </ul>

          </div>

      </div>
    </div>
  <% end %>
