
<%# Barre de recherche %>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col align-items-center">
      <%=form_tag search_games_path do%>
        <input class = "form-control" id = "searchbar" name = "query" placeholder = "Rechercher un jeu, appuyez sur entrée" type ="text", autocomplete = "off">
      <%end%>
    </div>
    <div class="col">
      <button class="btn-sidebar" onclick="location.href='/advanced_search_games'"><i aria-hidden="true"></i>Recherche avancée</button>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn-sidebar add-game" onclick="location.href='/games/new'">Ajouter un jeu</button>
    </div>
  </div>
</div>


<%= will_paginate @games %>

<% @games.each do |game| %>
  <div class="container game-sticker">
    <div class="row">
      <div class="col-lg-2 d-flex justify-content-center align-items-center">
        <% if game.game_picture.attachment != nil %>
        <%= image_tag game.game_picture, class: "games_image" %>
        <% else %>
        <img src="<%= game.image_url%>" class="games_image">
        <% end %>
      </div>
      <div class="col">
        <div class="row">
          <div class="col d-flex justify-content-start align-items-center">
            <a class="game-sticker-title animated infinite pulse" href = "<%=game_path(game.id)%>"><%= game.title %></a>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-start align-items-center">
            <p><%= Category.find(game.category_id).category_name %></p>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
            <p><% if game.min_players == game.max_players %>
            Jusqu'à <%= game.min_players %> joueurs
            <% else %>
            De <%= game.min_players %> à <%= game.max_players %> joueurs
            <% end %></p>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <p><%= game.time %></p>
          </div>
        </div>
        <div class="row mt-3 d-flex justify-content-end align-items-center">
          <div class="col">
          </div>
          <div class="col">
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <%if game.gamecoms.first.nil?%>
            <p>Il n'y a pas encore de note pour ce jeu</p>
            <%else%>
            <%sum_array = [] %>
              <%game.gamecoms.each do |current_comment|%>
                <%sum_array << current_comment.score%>
              <%end%>
              <%average_score = sum_array.inject(0.0) { |sum, el| sum + el } / sum_array.size%>
              <p>Note des utilisateurs : <b><%=average_score%>/10</b></p>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @games %>