
<div class="container container-signup">
  <h2 class="m-4 signup-title">Créez un nouveau jeu</h2>

  <%= form_tag("/games", method: "create", multipart: true) do %>
<div class="row mt-2">
  <div class="col">
    <span>Nom du jeu</span><br>
    <%= text_field_tag "title"%>
  </div>
  <div class="col">
    <span>Catégorie de jeu</span><br>
    <%= select_tag "category_name", options_from_collection_for_select(Category.order(:category_name), "id", "category_name"), prompt: "Choisissez la catégorie"%>
  </div>
  <div class="col">
    <span>Image (URL) :</span><br>
    <%= text_field_tag "image_url"%>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <span>Durée moyenne :</span><br>
    <%= number_field_tag 'time', min: 0%>
  </div>
  <div class="col">
    <span>Créer une nouvelle catégorie :</span><br>
      <%= text_field_tag "new_category"%>
  </div>
  <div class="col">
    <span>Image (Upload) :</span><br>
    <div class="form-group">
      <%= file_field_tag 'game_picture', accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <span>Nombre de joueurs :</span><br>
    <%= number_field_tag 'min_players', min: 0%>
    <span>A</span>
    <%= number_field_tag 'man_players', min: 0%>
    <span>JOUEURS</span>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <span>Description du jeu</span><br>
    <%= text_area_tag "description", "Entrez votre description", size: "60x5"%>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <%= submit_tag('Ajouter le jeu à la base de donnée') %>
  </div>
</div>



<% end %>

</div>
