<h2>Créez un nouveau jeu</h2>
<%= form_tag("/games", method: "create") do %>
      <p><b>Nom du jeu </b></p> 
      <%= text_field_tag "title"%>
      <p><b>Description du jeu </b></p>
      <%= text_area_tag "description"%>
      <p><b>URL de l'image du jeu </b></p>
      <%= text_field_tag "image_url"%>
      <p><b>Nombre de joueurs </b></p>
      <%= number_field_tag 'min_players', min: 0%>
      <%= number_field_tag 'man_players', min: 0%>
      <p><b>Temps de partie en minutes</b></p>
      <%= number_field_tag 'time', min: 0%>
      <p><b>Catégorie de jeu</b></p>
      <%= select_tag "category_name", options_from_collection_for_select(Category.order(:category_name), "id", "category_name"), prompt: "Choisissez la catégorie"%>
      <p>*Si la catégorie que vous voulez n'existe pas, vous pouvez la rajouter ici<p>
      <%= text_field_tag "new_category"%>
    <p><%= submit_tag('Ajouter le jeu à la base de donnée') %></p>
<% end %>
