<h2>Créez un nouveau jeu dans la banque de donnée</h2>
<%= form_for @game do |f| %>
  <p><b>Nom du jeu </b></p> 
  <%= f.text_field :title %>
  <br>
  <p><b>Description du jeu </b></p>
  <%= f.text_area :description %>
  <br>
  <p><b>Url de l'image du jeu </b></p>
  <%= f.text_field :image_url%>
  <br>
  <p><b>Nombre de joueurs </b></p>
  <span>Nombre minimum</span><%= f.number_field :min_players%>
  <span>Nombre maximum</span><%= f.number_field :max_players %>
  <br>
  <p><b>Temps de partie en minutes</b></p>
  <%= f.number_field :time %>
  <br>
  <p><b>Catégorie </b></p>
  <%=f.select :category, Game.pluck(:category, :category)%>
  <br>
  <%= f.submit "Créer" %>
<% end %>