<div class="container">
  <div class = "row row-game-sticker">
    <div class = "col-lg-3 col-game-pic">
      <% if @game.game_picture.attachment != nil %>
        <%= image_tag @game.game_picture%>
      <% else %>
        <img src="<%= @game.image_url%>" class="games_image" width="300px">
      <% end %>
    </div>
    <div class = "col-lg-9">
      <div class = "row">
        <h4><b><%=@game.title %></b></h4>
      </div>
      <ul>
        <div class = "row">
          <div class = "col">
            <%if @game.min_players == @game.max_players%>
              <li><b>Jusqu'à <%=@game.min_players%></b></li>
            <%else%>
              <li><b>De <%=@game.min_players%> à <%=@game.max_players%> joueurs</b></li>
            <%end%>
          </div>
          <div class = "col">
            <li><b>Durée de jeu : <%=@game.time%></b></li>
          </div>
          <div class = "col">
            <li><b>Categorie  : <%= @game.category%></b></li>
          </div>
          <div class = "col">
            <li><a href = "<%=edit_game_path(@game.id)%>">Modifier les informations du jeu</a></b></li>
          </div>
        </div>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="row row-btn-bar">
      <div class="review">
        <% if current_user != nil %>
          <%= render "home/favorites" %>
        <% end %>
      </div>
    </div>
    <div class = "row">
      <p class = "description"><%=@game.description%></p>
    </div>
  </div>
</div>
