<div class="row">
  <div class="col d-flex header-bar justify-content-between">
    <div class="header-logo">
      <img src="https://www.freeiconspng.com/uploads/github-logo-icon-26.png" class="logo-picture">
    </div>
      <% if user_signed_in? == false %>
        <div class="header-buttons">
          <button class="modal-inscription btn-header">Inscription</button>
          <button class="modal-connection btn-header">Connexion</button>
        </div>
      <% end %>
      <% if user_signed_in? %>
      <div class="header-avatar">
        <div class="dropdown" id="header-dropdown">
          <% if current_user.profile_picture.attachment != nil %>
            <%= image_tag current_user.profile_picture, id:"avatar" %>
          <% else %>
            <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/885/429/ba9.gif" alt="avatar" id="avatar">
          <% end %>
          <div class="dropdown-content" id="header-dropdown-content">
            <p> <%= link_to "Votre Profil", profile_path%> </p>
            <p> <%= link_to "Editer vos infos", edit_user_registration_path%> </p>
            <p> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %> <p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>


<!-- <ul class="user_display_navbar">
    <li>navbar placeholder</li>
    <%if user_signed_in? == false%>
        <li><button class="modal-inscription">Inscription</button></li>
        <li><button class="modal-connection">Connexion</button></li>
    <%end%>
    <%if user_signed_in?%>
        <li class="dropdown">
            <img src="https://www.freeiconspng.com/uploads/github-logo-icon-26.png" alt="Avatar" id="avatar">
            <div class="dropdown-content">
                <p> <%= link_to "Votre Profil", profile_path%> </p>
                <p> <%= link_to "Editer vos infos", edit_user_registration_path%> </p>
                <p> <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %> <p>
            </div>
        </li>
    <%end%>
</ul> -->
