<div class="modal1">
  <div class="modal__header d-flex justify-content-between">
    <h2 class="mt-1 ml-2 text-white">Inscription</h2>
      <button class="mr-2 close js-close-modal1">X</button>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field mt-1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, placeholder: "email" %>
  </div>

  <div class="field mt-1">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, placeholder: "Votre prénom" %>
  </div>

  <div class="field mt-1">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true, placeholder: "Votre nom" %>
  </div>

  <div class="field mt-1">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, placeholder: "Votre pseudo" %>
  </div>

  <div class="field mt-1">
    <%= f.label :town %><br />
    <%= f.text_field :town, autofocus: true, placeholder: "Votre ville" %>
  </div>

  <div class="field mt-1">
    <%= f.label :adress %><br />
    <%= f.text_field :adress, autofocus: true, placeholder: "Votre adresse" %>
  </div>

  <div class="field mt-1" , id="hidden_field_image">
    <%= f.label :status %><br />
    <%= f.number_field :status, autofocus: true, value: 1 %>
  </div>

  <div class="field mt-1" , id="hidden_field_image">
  <%= f.label :experience %><br />
  <%= f.number_field :experience, autofocus: true, value: 0 %>
</div>

  <div class="field mt-1" , id="hidden_field_image">
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true, value: "A compléter" %>
  </div>

  <div class="field mt-1">
    <%= f.label :gender %><br />
    <%= f.text_field :gender, autofocus: true, placeholder: "Votre genre: masculin, féminin, autre" %>
  </div>

  <div class="field mt-1">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(
      <%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: "new-password" %>
  </div>

  <div class="field mt-1">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, placeholder: "new-password" %>
  </div>

  <div class="actions mt-2 mb-2">
    <%= f.submit "Sign up"%>
  </div>
  <% end %>

</div>