<div class="container">
<% if user_signed_in? %>
  <div class="row">
    <h3 class="sidebar-hello">Bonjour, <%= current_user.nickname %> !</h3>
  </div>
  <% if current_user.webmaster? %>
    <div class="row">
      <%= link_to "Webmaster Dashboard", webmaster_path, class: "btn-admin" %>
    </div>
  <% elsif current_user.admin? %>
    <div class="row">
      <%= link_to "Admin Dashboard", admin_path, class: "btn-admin" %>
    </div>
  <% end %>
<% end %>
<% if user_signed_in? %>
<div class="row">
  <button class="btn-sidebar">Mes sessions</button>
</div>
<div class="row">
<button class="btn-sidebar" onclick="location.href='/favoris'"><i class="fa fa-heart favred" aria-hidden="true"></i> Mes favoris</button>
</div>
<% end %>
<div class="row">
  <button class="btn-sidebar">Chercher une session</button>
</div>
<div class="row">
  <button class="btn-sidebar" onclick="location.href='/gamesession'">Parcourir les sessions</button>
</div>
<div class="row">
    <button class="btn-sidebar" onclick="location.href='/games'">Parcourir les jeux</button>
</div>
<% if user_signed_in? %>
<div class="row">
  <button class="btn-sidebar">Calendrier</button>
</div>
<% end %>
<div class="row">
  <button class="btn-sidebar">Outils</button>
</div>
</div>
<!-- <div class="row">
  <button>Blog</button>
</div>
<div class="row">
  <button>TableTop RPG</button>
</div>
<div class="row">
  <button>RetroGaming</button>
</div> -->

<!-- <ul>
    <% if user_signed_in? %>
        <li>Bonjour,
            <%=current_user.nickname%> !</li>
        <%if current_user.webmaster? %>
            <li>
                <%= link_to "Page du webmaster", webmaster_path %>
            </li>
            <% elsif current_user.admin? %>
                <li>
                    <%= link_to "Page administrateur", admin_path %>
                </li>
                <%end%>
                    <% end %>
                        <li><button>Mes sessions</button></li>
                        <li><button>Chercher une session</button></li>
                        <li><button>Parcourir les sessions</button></li>
                        <li><%=button_to "Parcourir les jeux", games_path, method: :get%></li>
                        <li><button>Calendrier</button></li>
                        <li><button>Outils</button></li>
                        <li><button>Blog</button></li>

                        <li><button>Tabletop-RPG</button></li>
                        <li><button>Retrogaming</button></li>
</ul> -->
