<!DOCTYPE html>
<html>
  <head>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id' />
    <title>TheGamingTable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


</head>


<body>
    <%= yield %>
<audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
</body>

</html>